/*
* Import CSS Variables
*/
@import './_variables.scss';


.App {
  position: fixed;
  width:100%;
  height:100%;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  transition: all 0.2s,
  background-color 1s;
}

#page-content{
  width:100%;
  height: 100%;
  background-color: rgba(200,200,210,1);
  min-height: 350px;
}












