/*
* Import CSS Variables
*/
@import '../../_variables.scss';

header{
  top: 0px;
  padding:20px 10%;
  background-color: rgba(50,50,50,1);
  color:white;
  font-size: 15px;
  & a{
    color:white;
  }
  h1{
    font-size:25px;
    margin:0px;
  }
  @media (min-width:$mobile-break){  
    p{
      padding: 10px;
      max-width: 800px;
      margin: auto;
    }
  }
}