.toggle-with-labels {
  & input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__label {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease-in-out;
  }
}
